#
# When updating this file, sync with .aiignore
#

# IDE settings
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml


###############################################################################
# Everything below this point is identical between .aiignore and .gitignore

# project files

*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# dependencies

.pnp
.pnp.js
.pnpm-store/
node_modules/

# unit tests

coverage/

# e2e tests

e2e-test-output/
playwright-report/

# linting

.eslintcache

# build output

*.log
*.tsbuildinfo

.astro/
.cache/
.cache-loader/
.docusaurus/
.next/
.react-router/
.turbo/
_fresh/
build/
dist/
dist-ssr/
legacy-types/
out/
public/build/
packages/*/*.tgz

# storybook

storybook-static/

# external-tests

external-tests/*/.yalc/

# misc

.DS_Store
.env
.env.local
.env*.local
.env.production
.vercel
*.pem
next-env.d.ts
Thumbs.db
