#
# When updating this file, sync with .gitignore
#

# Autoformatting lockfiles is slow and doesn't bring any benefits, so skip them
package-lock.json
pnpm-lock.yaml
yarn.lock

###############################################################################
# Everything below this point is copied from .gitignore

# IDEs, etc

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dependencies

.pnp
.pnp.js
.pnpm-store/
node_modules/
framework-tests/*/.yalc/

# unit tests

coverage/

# e2e tests

e2e-test-output/
playwright-report/

# linting

.eslintcache

# build output

*.tsbuildinfo

.cache/
.next/
build/
dist/
dist-ssr/
legacy-types/
out/
public/build/

# storybook

storybook-static/

# log files

lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc

.env.local
.env*.local
.vercel
*.pem
next-env.d.ts
