name: Publish Release

on: workflow_dispatch

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  id-token: write

jobs:
  publish-npm:
    name: Publish to NPM
    runs-on: ubuntu-latest
    # Only run for the original repo, and only the default branch, and only if it's properly protected
    if: |
      (! github.event.push.head.repo.fork)
        && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        && github.ref_protected == true
    strategy:
      matrix:
        package-name: [node-library-template, react-library-template]
    steps:
      - uses: actions/checkout@v3.5.3
        with:
          fetch-depth: 0

      - uses: ./.github/reusable-workflows/setup-repo
        with:
          node-version: nvmrc

      - name: Publish to NPM
        run: |
          cd packages/${{ matrix.package-name }}
          NPM_CONFIG_PROVENANCE=true  pnpm publish --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
